BasedOnStyle: Google
Language: Cpp
Standard: c++17
ColumnLimit: 100
UseTab: Never
IndentWidth: 2
ReflowComments: false
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveAssignments: AcrossEmptyLines